$app-background-color: #141414;
$app-lighter-background-color: #252525;
$logo-color: #E50914;
$screen-extra-small-width: 400px;
$screen-small-width: 600px;
$screen-normal-width: 900px;
$screen-large-width: 1200px;