@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
body {
  background-color: #141414;
  font-family: 'Open Sans', sans-serif;
  color: white;
}

html, body {
  margin: 0;
  padding: 0;
}

.app {
  width: 100%;
  min-height: 100vh;
}

.header {
  width: 100%;
  height: 60px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(3%, rgba(4, 1, 51, 0)), to(rgba(0, 0, 0, 0.849177)));
  background: linear-gradient(0deg, rgba(4, 1, 51, 0) 3%, rgba(0, 0, 0, 0.849177) 100%);
}

.header .dark-zone {
  position: absolute;
  width: 0%;
  height: 100vh;
  top: 0;
  right: 0;
  background-color: black;
  opacity: 0.6;
  z-index: 1;
  margin: 0;
  -webkit-transition: .5s width;
  transition: .5s width;
}

.header .logo {
  position: absolute;
  left: 5px;
  top: 0%;
  color: #E50914;
  padding: 0px;
  margin: 0;
  font-size: 30px;
  cursor: pointer;
}

.header .burger-menu {
  margin: 0px;
  cursor: pointer;
  z-index: 3;
}

.header .burger-menu .line {
  background-color: white;
  width: 40px;
  height: 2px;
  margin: 7px;
}

.header .top-menu {
  display: none;
}

.header .side-menu {
  position: absolute;
  right: 0;
  top: 0;
  overflow: hidden;
  width: 0%;
  height: 100vh;
  background-color: #252525;
  -webkit-transition: .5s width;
  transition: .5s width;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 2;
}

.header .side-menu div {
  padding: 20px;
  text-align: center;
  cursor: pointer;
}

.header .side-menu div:hover {
  background: #333;
}

.header .side-menu .language {
  cursor: auto;
}

.header select {
  margin-left: 7px;
  padding: 5px;
}

.header.active .dark-zone {
  width: 100%;
}

.header.active .side-menu {
  width: 100%;
}

@media screen and (min-width: 900px) {
  .header .top-menu {
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .top-menu div {
    padding: 15px;
  }
  .header .burger-menu {
    display: none;
  }
  .header .logo {
    left: 20px;
    margin-left: 10px;
    margin-top: 10px;
  }
}

.main-movie {
  width: 100%;
  position: relative;
  height: 85vh;
  max-height: 56.2vw;
  overflow: hidden;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.main-movie .info {
  position: absolute;
  left: 3%;
  bottom: 0%;
  font-size: 20px;
  text-align: center;
}

.main-movie .info h3 {
  margin-bottom: 0;
}

.main-movie .info .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

.main-movie .info .container .circle {
  border-radius: 50%;
  margin-right: 50px;
}

.main-movie .info .container .circle img {
  width: 23px;
  height: 18px;
  margin-left: 5px;
}

.main-movie .info .container .circle .how-many-ratings {
  margin: 0;
  font-size: 10px;
}

.main-movie .info .container h5 {
  margin: 0;
}

@media screen and (min-width: 600px) {
  .main-movie .info {
    font-size: 35px;
    bottom: 0%;
  }
  .main-movie .info .container .circle {
    padding: 20px;
  }
  .main-movie .info .container .circle img {
    width: 33px;
    height: 28px;
  }
  .main-movie .info .container .circle .how-many-ratings {
    font-size: 16px;
  }
}

@media screen and (min-width: 900px) {
  .main-movie .info {
    font-size: 40px;
    bottom: 15%;
  }
  .main-movie .info .container .circle {
    padding: 20px;
  }
  .main-movie .info .container .circle img {
    width: 38px;
    height: 33px;
  }
  .main-movie .info .container .circle .how-many-ratings {
    font-size: 20px;
  }
}

.movies {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.movies .movie {
  width: calc(50% - 10px);
  margin: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
  cursor: pointer;
}

.movies .movie .img {
  overflow: hidden;
}

.movies .movie .img img {
  width: 100%;
  -webkit-transition: -webkit-transform .4s;
  transition: -webkit-transform .4s;
  transition: transform .4s;
  transition: transform .4s, -webkit-transform .4s;
}

.movies .movie .img:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

@media screen and (min-width: 600px) {
  .movies .movie {
    width: calc(33.3% - 10px);
  }
}

@media screen and (min-width: 900px) {
  .movies .movie {
    width: calc(25% - 10px);
  }
}
/*# sourceMappingURL=index.css.map */