@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
body {
  background-color: #141414;
  font-family: 'Open Sans', sans-serif;
  color: white;
}

html, body {
  margin: 0;
  padding: 0;
}

.app {
  width: 100%;
  min-height: 100vh;
}

.header {
  width: 100%;
  height: 60px;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(3%, rgba(4, 1, 51, 0)), to(rgba(0, 0, 0, 0.849177)));
  background: linear-gradient(0deg, rgba(4, 1, 51, 0) 3%, rgba(0, 0, 0, 0.849177) 100%);
}

.header .dark-zone {
  position: absolute;
  width: 0%;
  height: 100vh;
  top: 0;
  right: 0;
  background-color: black;
  opacity: 0.6;
  z-index: 1;
  margin: 0;
  -webkit-transition: .5s width;
  transition: .5s width;
}

.header .logo {
  position: absolute;
  left: 20px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  color: #E50914;
  padding: 10px;
  margin: 0 0 0 20px;
  font-size: 30px;
  cursor: pointer;
}

.header .burger-menu {
  margin: 25px;
  cursor: pointer;
  z-index: 3;
}

.header .burger-menu .line {
  background-color: white;
  width: 40px;
  height: 2px;
  margin: 7px;
}

.header .top-menu {
  display: none;
}

.header .side-menu {
  position: absolute;
  right: 0;
  top: 0;
  overflow: hidden;
  width: 0%;
  height: 100vh;
  background-color: #252525;
  -webkit-transition: .5s width;
  transition: .5s width;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 2;
}

.header .side-menu div {
  padding: 20px;
  text-align: center;
  cursor: pointer;
}

.header .side-menu div:hover {
  background: #333;
}

.header .side-menu .language {
  cursor: auto;
}

.header select {
  margin-left: 7px;
  padding: 5px;
}

.header.active .dark-zone {
  width: 100%;
}

.header.active .side-menu {
  width: 100%;
}

@media screen and (min-width: 900px) {
  .header .top-menu {
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .top-menu div {
    padding: 15px;
  }
  .header .burger-menu {
    display: none;
  }
}

.main-movie {
  width: 100%;
  position: relative;
  height: 85vh;
  max-height: 56.2vw;
  overflow: hidden;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.main-movie .info {
  position: absolute;
  left: 3%;
  bottom: 5%;
  font-size: 20px;
  text-align: center;
}

.main-movie .info .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-movie .info .container .circle {
  border-radius: 50%;
  padding: 20px;
  margin-right: 50px;
}

.main-movie .info .container .circle img {
  width: 38px;
  height: 33px;
  margin-left: 5px;
}

.main-movie .info .container .circle .how-many-ratings {
  margin: 0;
  font-size: 15px;
}

@media screen and (min-width: 900px) {
  .main-movie .info {
    font-size: 40px;
  }
  .main-movie .info .container .circle .how-many-ratings {
    font-size: 20px;
  }
}
/*# sourceMappingURL=index.css.map */